<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>
                        <a class="nav-link">Search by city</a>
                        <div>
                            <select id="citySelect">
                                <option value="1">Please select from Below: </option>
                                <option value="2">Sydney</option>
                                <option value="3">Melbourne</option>
                                <option value="4">Perth</option>
                            </select>
                        </div>
                    </li>
                    <li>@Html.ActionLink("More information", "MoreInfo", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li><a href="#" id="weatherLink" class="nav-link">Weather</a></li>
                </ul>
            </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TP28 Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- for the logic of click the dropdown table -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#citySelect').change(function () {
                var selectedCity = $(this).val();
                if (selectedCity === "1") {
                    window.location.href = "/Home/Index";
                } else if (selectedCity === "2") {
                    window.location.href = "/Home/Sydney";
                } else if (selectedCity === "3") {
                    window.location.href = "/Home/Melbourne";
                } else if (selectedCity === "4") {
                    window.location.href = "/Home/Perth";
                }
            });
        });
    </script>




</body>


</html>
