<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>
                        @Html.ActionLink("Search by city", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                        <div>
                            <select id="citySelect">
                                <option value="1">Melbourne</option>
                                <option value="2">Syndey</option>
                                <option value="3">Perth</option>
                            </select>
                        </div>
                    </li>
                    <li>@Html.ActionLink("More information", "MoreInfo", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li><a href="#" id="weatherLink" class="nav-link">Weather</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TP28 Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        document.getElementById("weatherLink").addEventListener("click", function (event) {
            event.preventDefault();

            // var city = document.getElementById("citySelect").value;


            var apiUrl = "https://api.openweathermap.org/data/3.0/onecall?lat=-37.8136&lon=144.9631&exclude=current&appid=d2dba7f53adbb152167188a597023027";
            // use Melbourne data as an sample

            // Replace {lat} and {lon} with latitude and longitude values
            //apiUrl = apiUrl.replace("{lat}", "your_latitude").replace("{lon}", "your_longitude");

            // send Ajax Get Request
            var xhr = new XMLHttpRequest();
            xhr.open("GET", apiUrl, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Succeed
                    console.log("Data sent successfully!");
                    var responseData = JSON.parse(xhr.responseText);
                    // Do something with the response data
                    console.log(responseData);
                }
            };
            xhr.send(); // Send the request
        });
    </script>


</body>


</html>
